@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

/* BASIC */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: wheat; */
    background-image: url('../IMG/backkk2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

/* DEFAULT*/
h1,
h2,
h3,
p,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    color: black;
}

section {
    text-align: center;
}

/* .... */
button { 
    cursor: pointer;
    background-color: #708390;
    text-decoration: none;
    border-radius: 7px;
}

a {
    text-decoration: none;
    color: rgb(182, 200, 215);
}


/* HEADER */
header {
    background-color: #333333d1;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-evenly;
    height: 8rem;
    position: relative;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

.siteLogo { /* le container du logo à gauche */
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: 0;
}

#logo { 
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: left;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    margin-left: 25px;
}

.siteLogo h1 { /* le nom du site en dessous du logo*/
    text-decoration: none;
    justify-content: left;
    left: 0;
    top: 0;
    position: relative;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: rgba(244, 255, 255, 0.781);
    margin-top: 5rem;
    animation: bowAnimation 2s linear infinite; /* animation */
}

@keyframes bowAnimation { 
    /* l'animation des couleurs du logo */
    0% {
        color: #c4e5e1d6;
        /* Cyan */
    }

    20% {
        color: #d9a147c4;
        /* Orange */
    }

    40% {
        color: #3e8daecc;
        /* bleu */
    }

    60% {
        color: #646cb9c9;
        /* Violet */
    }

    80% {
        color: #9f6c85be;
        /* Brun */
    }

    100% {
        color: #ff5c5cc7;
        /* Brown */
    }
}

/* MENU */
#menu-button {
    background-color: transparent;
    color: yellow;
    padding: 10px;
    cursor: pointer;
    justify-content: right;
    right: 0;
    top: 0;
    border: none;
    position: absolute;
    margin-top: 1.3rem;
}

#menu,
#connect {
    background-color: transparent;
    border: transparent;
    color: rgb(255, 255, 255);
}

#idCorner {
    right: 0;
    top: 0;
    justify-self: right;
    color: rgb(151, 172, 195);
}

/* NAVBAR */
.navbar { /* les liens et icons sont en flex */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
}

.navbar button {
    background-color: transparent; /* trqsnpqrent pour ne pas trop gener */
    border: transparent;
    margin-right: 7px;
}

.navbar a {
    color: rgba(226, 220, 220, 0.76);
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}



/* les liens de profile et la deconnexion est centré à droite en haut du navbar */
#logging {
    display: flex;
    margin: 4px;
    justify-content: right;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 15px;
}

#logging a {
    margin: 5px;
    right: 0;
    justify-self: right;
    margin-top: 0rem;
}

/* COMPTE */
#avatar { /* la photo de profile ou du compte est centré et au dessus des détails */
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(225, 228, 231, 0.2);
}

.accountFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: space-evenly;
    height: 100%;
    /* background-color: #e8ecefc5;
    box-shadow: 0 0 10px rgba(225, 228, 231, 0.2); */
}
/* pour la centrification de la page de compte */
.comptePage { 
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: block;
    height: 100%;
    width: 60%;
    background-color: #b7c2c5d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
}

.compteH1, #compteH1 { /* le h1 sera centré */
    text-align: center;
    /* color: white; */
}

.success {
    background-color: #e7e9ea;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
    height: max-content;
    width: max-content;
}

.footDiv {
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.terms { /* pour la centrification de la page de termes, help et autres */
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    display: block;
    height: max-content;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
    background-color: #eff7fa9e;
}

.terms div {
    margin: 10px;
}

#messTxt, .terms div p {
    text-align: center;
    margin: 20px;
}

#avyCompte {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 10px rgba(82, 83, 83, 0.2);
    background-color: white;
}

.details {
    text-align: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
}

.details p {
    color: rgb(0, 0, 0);
    background-color: #f5f8f9df;
    width: 80%;
    margin: 8px auto;
    border-radius: 10px;
}

.comptePage a {
    color: #2980b9;
    text-align: center;
    text-decoration: none;
}

.comptePage p a:hover,
.comptePage p:hover {
    color: rgb(255, 86, 14);
}

#userAvatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(225, 228, 231, 0.2);
}

#messages {
    display: inline-block;
    flex-direction: column;
}



/* NOTIFICATIONS */
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background-color: red;
}

.notification .badge {
    position: absolute;
    top: -1px;
    right: -5px;
    padding: 3px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    z-index: 1;
}

/* SEARCHBAR */
.searchContainer {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    top: 0;
    margin: 0 auto;
    margin-top: 2rem;
    position: absolute;
    height: 20%;
  }
  
  .searchContainer input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
  }
  
  .searchContainer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #606d75;
    color: #f5f9ff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-align: center;
    width: max-content;
  }
 
  #searchResults {
    margin-top: 20px;
  }

/* LOGIN & SIGNUP FORMS */
#logForm {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e7e9ea;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: max-content;
    display: block;
}

#logForm h1 {
    justify-self: center;
    text-align: center;
    color: #0b2b34;
    margin-bottom: 25px;
}

#logForm h2 {
    justify-self: center;
    text-align: center;
    color: #8f9292;
}

#logForm label {
    display: block;
    margin: 15px 0 5px;
    color: #13414d;
}

#logForm input[type] {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#logForm input[type="submit"] {
    background-color: #6499a3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin: 12px;
    width: max-content;
}

#logForm input[type="submit"]:hover,
#openModalBtn:hover , #delete input:hover {
    background-color: #45a049;
}

#logForm input[placeholder],
#logForm input[name] {
    text-align: center;
}

#logForm a:hover {
    color: rgb(54, 56, 44);
}

/* # forms Messages */
#successMessage {
    color: #209045;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.errorsMessage {
    color: red;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;    
}

#errorsMessage {
    color: red;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}

/* PROFILE */
/* main */
.mainbox {
    justify-content: center;
    padding: 0;
    margin: 0;
}

.profileContainer {
    background-color: none;
    border-radius: 8px;
    border-color: black;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    width: 100%;
}

/* cover pictures */
.coverContainer {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    background-color: none;
    top: 0;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */
}

#coverPicture {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    top: 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editCover {
    border-radius: 6px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 5rem;
    right: 90px;
    opacity: 1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

/* Avatar */
.avatarContainer {
    padding: 0;
    width: 90%;
    height: max-content;
    margin-top: -200px;
    /* user info up to overlap cover */
    position: relative;
    z-index: 3;
    /*user info above cover */
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
}

#profileAvy {
    padding: 0;
    width: 150px;
    height: 150px;
    margin: 5px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    animation: pulse 2s infinite;
}

/* Avatar animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#editAvatar {
    width: max-content;
    padding: 5px 22px;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
    justify-content: center;
    right: 126px;
    margin-top: -5rem;
}

.overLay {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    display: inline;
    border-radius: 15px;
    justify-content: center;
}

.profileContainer:hover .overLay {
    opacity: 1;
}

/* user info */
.userContainer {
    padding: 0;
    background-color: #2f2f2fd9;
    justify-content: center;
    height: max-content;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
}

.userContainer p {
    margin: 10px;
    text-align: center;
    color: #c8d6de;
}

.infoUser {
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: relative;
}

.mainContainer {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 4px;
    border-radius: 5px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.mainContainer p {
    margin-top: 1rem;
}

/* userContainer small paragraph link  */
.userContainer p small a {
    color: #507b97;
    text-decoration: none;
    margin-left: 1rem;
}

.userContainer p small a:hover {
    /* on hover, clor changes and it is underlined */
    text-decoration: underline; 
    color: rgb(190, 230, 255);
}

/* STATUS area */
.mainStatus {
    background-color: rgb(247, 251, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */
    height: 100%;
    width: max-content;
    margin: 7px;
    position: relative;
}

.mainStatus a {
    text-decoration: none;
}

.state {
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: center;

}

/* posting textarea & btn */
#postStatus {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 0.1rem;
    justify-content: space-evenly;
    border-radius: 8px;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    margin: 0 auto;
}

#postHere {
    width: 25rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
    height: max-content;
}

#posted {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #507b97;
}

/* status container  */
.statusContainer {
    margin-top: 10px;
    margin: 0 auto;
    height: max-content;
    width: max-content;
    text-align: center;
}

.status {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
}

#statusText {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
}

/* status commentary area */
.comments {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: max-content;
    width: max-content;
}

.comments li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.comments button, #status button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
    text-align: center;
    background-color: transparent;
}

.likeComment,
.replyComment,
.postReply {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background-color: #507b97;
}

.replyText {
    width: 20rem;
    height: 4rem;
}

.replying {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 0.1rem;
}

/* form hidden */
#logFormEdit, #logFormEdits, #replyLogFormEdits  {
    display: none;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#editForm, #editForme, #editFormeReply {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 0.1rem;
}

/*  */
/* profile's left asidebar */
.asideBar,
.activ {
    width: 15%;
    display: block;
    background-color: rgb(251, 253, 255);
    border-radius: 5px;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */
    justify-content: center;
    margin: 5px;
}

.asideBar button,
.asideBar input {
    margin: 5px;
    right: 0;
    cursor: pointer;
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.Media a,
.Archive a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.asideBar h3,
.activ h3 {
    margin: 8px;
    text-align: center;
}

.Media,
.Archive {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */
    margin: 4px;
    display: block;
    justify-content: center;
}

.disGallery {
    display: grid;
    gap: 0.2rem;
    margin: 10px;
    text-align: center;
}

#gallery,
.Archive img {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
}

/* profile 's right sidebar */
.activity {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.activity ul {
    list-style: none;
    padding: 0;
}

.activity li {
    margin: 10px 0;
}


/* MEDIA's PAGE CARD */
/*Media page styling*/
.mainMedia {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: max-content;
    margin: 10px auto;
    padding: 20px;
    background-color: #d5d8dc;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(127, 127, 128, 0.1);
}

.profileMedia {
    position: relative;
    background-color: none;
    border-radius: 8px;
    border-color: black;
    width: max-content;
    margin-right: 10px;
}

#avyMedia {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(85, 86, 87, 0.2);
}

.profileMedia:hover .overLay {
    opacity: 1;
}

/*media user info */
.userMedia {
    width: 100%;
    max-height: 200px;
    margin-top: -190px;
    /* Move user info up to overlap cover */
    position: relative;
    z-index: 3;
    /* Place user info above cover */
    margin: 0 auto;
    justify-self: center;
    text-align: center;
}

.userMedia h2 {
    color: #507b97;
}

.usernameMedia {
    /* le container des images d'utilisateur s'aggrandisse par rapport aux tailles et nombres des images
    téléchargés */
    color: gold;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* un peu d'ombrage pour stylé les bloques balisés */ 
    text-align: center;
    max-height: fit-content;
    margin-top: 19px;
    margin-bottom: 8px;
    background-color: #333;
    padding: 10px 25px;
    margin-left: 10px;
    width: max-content; /* la taille depend des contenus téléchargés */
    border-radius: 8px;
}

.usernameMedia p {
    justify-content: space-evenly;
    margin-right: 5px;
}

.media-container {
    text-align: center;
    border-radius: 5px;
    background-color: #eff2f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    margin-left: 10px;
}

#fileUploadMedia {
    display: none;
}

#uploadMediaBtn { 
    /* le bouton pour uploqd sur la page media sera marginé de 5pixels et en padding de 8pixels */
    color: #fff;
    padding: 8px 8px;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
    bottom: 0;
}

#media-list {
    list-style: none;
    padding: 0;
    width: 60%;
    display: flex;
    margin: 2px;
}

#media-list li {
    margin: 10px 0;
}

#media-list img {
    max-width: 100%;
}

/* RIGHT SIDEBAR */
.right-sidebar {
    /* le sidebar ou se trouve les stats du forum ) à droite de main body */
    height: max-content;
    max-width: 28%;
    padding: 15px;
    position: sticky;
    margin-left: 10px;
    margin-right: 10px;
}

.updates {
    /* les stats du forum sera mis dans un block sticky */
    height: max-content;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.2);
    position: sticky;
    margin-top: 20px;
    font-size: 15px;
}

.updates a {
    text-decoration: none;
}

.updates ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.updates li {
    margin-bottom: 7px;
}

/* FOOTER */
.footer { 
    /* le footer en bas du site dans une couleur grise avec des liens centré au centre */
    background-color: #363333b5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:relative;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
}

.footer a:hover, .updates a:hover {
    text-decoration: underline;
}

.footer p {
    margin-left: 180px;
    margin-top: 13px;
    color: white;
}

/* HOVERS */
/* les hovers de boutons, liens et autres seront sans souligne ou avec un couleur differents*/
button:hover,
#uploadMediaBtn:hover,
#createThread:hover,
#ToCreate:hover , 
#posted:hover, 
#editAvatar:hover, 
#editCover:hover,
.searchContainer button:hover {
    background-color: #6ca4ca;
    text-decoration: none;
}

.navbar a:hover,
a:hover,
button:hover,
.navbar button:hover,
#replyBtn a:hover, #replyRepliesBtn a:hover{
    text-decoration: underline;
    color: rgb(255, 155, 100);
}

#commentBtn:hover {
    background-color: rgb(144, 255, 80);
}

.replies button:hover,
#commentBtn:hover, .interact button:hover {
    color: rgb(235, 90, 70);
}